<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Ai helper</title>
</head>
<body>
<div layout:fragment="content" class="wrapper">
    <div class="row dashboard-block-full action-page">
        <div class="col">
            <div>
                <h3>Ai helper</h3>
            </div>

            <div class="from-row-1">
                <div class="input-block local-forms">
                    <textarea id="userInput" rows="4" cols="50" class="ai-textarea" placeholder="Type your message here..."></textarea>
                </div>
            </div>
            <div class="from-row-1 ai-res">
                <button class="btn btn-add" onclick="sendMessage()">Send</button>
            </div>
            <div class="from-row-1">
                <h3>Response:</h3>
            </div>
            <div class="from-row-1">
                <p id="responseText"></p>
            </div>
            <script>
                async function sendMessage() {
                    const userInput = document.getElementById("userInput").value;
                    const response = await fetch('/ai-helper/chat', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(userInput)
                    });
                    const data = await response.text();
                    document.getElementById("responseText").innerText = data;
                }
            </script>


        </div>
    </div>
</div>
</body>
</html>
