<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Update Patient</title>
</head>
<body>
<div layout:fragment="content" class="wrapper">
    <div class="row dashboard-block-full">
        <div class="col">
            <div>
                <h3>Update Patient</h3>
            </div>
            <form class="form-grid" th:action="@{/patients/{patientId}/update(patientId=${patient.id})}" th:object="${patient}" method="post">
                <input type="hidden" name="_method" value="put" />
                <div class="from-row">
                    <div class="input-block local-forms">
                        <label>First Name</label>
                        <input type="text" th:field="*{firstName}" required="required"/>
                    </div>
                    <div class="input-block local-forms">
                        <label>Last Name</label>
                        <input type="text" th:field="*{lastName}" required="required"/>
                    </div>
                </div>

                <div class="from-row">
                    <div class="input-block local-forms">
                        <label>Email</label>
                        <input type="email" th:field="*{email}" required="required"/>
                    </div>
                    <div class="input-block local-forms">
                        <label>Phone</label>
                        <input type="text" th:field="*{phone}" required="required"/>
                    </div>
                </div>

                <div class="from-row">
                    <div class="input-block local-forms">
                        <label>Birthday</label>
                        <input type="date" th:field="*{birthday}" required="required"/>
                    </div>
                </div>

                <div class="from-row">
                    <button type="submit" class="btn btn-add">Update Patient</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
