<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>
</head>
<body>
<div layout:fragment="content" class="wrapper">

    <div class="row dashboard-block-full">
        <div class="col">
            <div class="header-block">
                <div class="header-block__search">
                    <h3>Appointment</h3>
                    <div class="input-block local-forms">
                        <input type="text" placeholder="search">
                    </div>
                </div>
                <a href="/appointments/add" class="btn btn-add btn-add-top">Add +</a>
            </div>
            <div id="doctors">
                <div class="table-responsive custom-table-responsive">
                    <table class="table custom-table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Patient</th>
                            <th scope="col">Doctor</th>
                            <th scope="col">Date</th>
                            <th scope="col">Details</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody th:if="${appointmentsPage != null}">
                        <tr th:each="appointment, iterStat : ${appointmentsPage.content}">
                            <th scope="row" th:text="${iterStat.index + 1 + currentPage * 5}">1</th>
                            <td><span th:text="${appointment.title}">title</span> </td>
                            <td><span th:text="${appointment.patient.lastName}">patient id</span> </td>
                            <td><span th:text="${appointment.doctor.lastName}">doctor id</span></td>
                            <td><span th:text="${appointment.appointmentDate}">date</span></td>
                            <td><a th:href="@{/appointments/{id}(id=${appointment.id})}">Details</a></td>
                            <td><a th:href="@{/appointments/{id}/update(id=${appointment.id})}">Edit</a></td>
                            <td>
                                <form th:action="@{/appointments/{id}/delete(id=${appointment.id})}" method="post" style="display:inline;">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button type="submit" class="btn btn-add delete-btn">Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                        <tbody  th:if="${appointmentsPage == null || appointmentsPage.isEmpty()}">
                        <tr>
                            <td colspan="6">No appointments found.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <a th:if="${!appointmentsPage.isFirst()}" th:href="@{/appointments/all(page=${currentPage - 1})}">&laquo;</a>
                    <span th:text="'Page ' + ${currentPage + 1} + ' of ' + ${appointmentsPage.totalPages}">Page 1 of 1</span>
                    <a th:if="${!appointmentsPage.isLast()}" th:href="@{/appointments/all(page=${currentPage + 1})}">&raquo;</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
