<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content" class="wrapper">

    <div class="row dashboard-block-full">
        <div class="col">
            <div class="header-block">
                <div class="header-block__search">
                    <h3>Doctors</h3>
                    <div class="input-block local-forms search-wrap">
                        <input type="text" placeholder="search" class="search-by-js" data-type="doctors">
                        <div class="search-results search-results-js"></div>
                    </div>
                </div>
                <a href="/doctors/add" class="btn btn-add btn-add-top">Add +</a>
            </div>
            <div id="doctors">
                <div class="table-responsive custom-table-responsive">
                    <table class="table custom-table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody th:if="${doctorPage != null}">
                        <tr th:each="doctor, iterStat : ${doctorPage.content}">
                            <th scope="row" th:text="${iterStat.index + 1 + currentPage * 5}">1</th>
                            <td><span th:text="${doctor.firstName}">FirstName</span> <span th:text="${doctor.lastName}">LastName</span></td>
                            <td><span th:text="${doctor.phone}">Contact</span></td>
                            <td><span th:text="${doctor.email}">Email</span></td>
                            <td><a th:href="@{/doctors/{id}/update(id=${doctor.id})}">Edit</a></td>
                            <td>
                                <form th:action="@{/doctors/{id}/delete(id=${doctor.id})}" method="post" style="display:inline;">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button type="submit" class="btn btn-add delete-btn">Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                        <tbody th:if="${doctorPage == null || doctorPage.isEmpty()}">
                        <tr>
                            <td colspan="6">No doctors found.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <a th:if="${!doctorPage.isFirst()}" th:href="@{/doctors/all(page=${currentPage - 1})}">&laquo;</a>
                    <span th:text="'Page ' + ${currentPage + 1} + ' of ' + ${doctorPage.totalPages}">Page 1 of 1</span>
                    <a th:if="${!doctorPage.isLast()}" th:href="@{/doctors/all(page=${currentPage + 1})}">&raquo;</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
