<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Add Appointment</title>
</head>
<body>
<div layout:fragment="content" class="wrapper">
    <div class="row dashboard-block-full action-page">
        <div class="col">
            <div>
                <h3>Add Appointment</h3>
            </div>
            <form class="form-grid" th:action="@{/appointments/add(userId=${userId})}" method="post">
                <div class="from-row">
                    <div class="input-block local-forms search-wrap">
                        <label>Doctor</label>
                            <input type="text" placeholder="Doctor" class="search-by-js" data-type="doctors">
                            <div class="search-results search-results-js"></div>
                        <input type="hidden" name="doctorId" placeholder="Doctor" required="required" class="id-value"/>
                    </div>
                    <div class="input-block local-forms search-wrap">
                        <label>Patient</label>
                            <input type="text" placeholder="Patient" class="search-by-js" data-type="patients">
                            <div class="search-results search-results-js"></div>
                        <input type="hidden" name="patientId" placeholder="Patient" required="required" class="id-value"/>
                    </div>
                </div>

                <div class="from-row">
                    <div class="input-block local-forms">
                        <label>Date</label>
                        <input type="datetime-local" name="datetime" required="required"/>
                    </div>

                    <div class="input-block local-forms">
                        <label>Title</label>
                        <input type="text" name="title" required="required" placeholder="Title"/>
                    </div>
                </div>

                <div class="from-row">
                    <button type="submit" class="btn btn-add">Add Appointment</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
