<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content" class="wrapper">

    <div class="row dashboard-block-full welcome">
        <h2>Good Morning</h2>
        <p>Have a nice day at work</p>
    </div>

    <div class="row block-4-wrap">
            <div class="dashboard-block-full">
                <h2>Appointments</h2>
                <p>Welcome to the home page!</p>
            </div>
            <div class="dashboard-block-full">
                <h2>New Patients</h2>
                <p>Welcome to the home page!</p>
            </div>
            <div class="dashboard-block-full">
                <h2>Operations</h2>
                <p>Welcome to the home page!</p>
            </div>
            <div class="dashboard-block-full">
                <h2>Earnings</h2>
                <p>Welcome to the home page!</p>
            </div>
    </div>



</div>
</body>
</html>
